<div class="header-component">

  <div class="img-container align-center">
    <img class="pointer logo" src="assets/img/band-logo.png" (click)="navigateToHome()" >
  </div>

  <div class="links">
    <div class="link-container align-center">
      <a class="pointer underlined" data-test="btn-add-band" routerLink="/add-band">
        Add Band
      </a>
    </div>
    <div class="link-container align-center">
      <a class="pointer underlined" data-test="btn-show-bands" routerLink="/show-bands">
        Show Bands
      </a>
    </div>
  </div>

</div>

