<div class="header-component">
   
  <div class="img-container align-center"> 
    <img class="pointer logo" src="assets/img/next-logo.svg" (click)="navigateToHome()" >
  </div>
      
  <div class="links">
    <div class="link-container align-center">
      <a class="pointer underlined " routerLink="/add-band">
        Add Band
      </a>
    </div>
    <div class="link-container align-center">
      <a class="pointer underlined" routerLink="/show-bands">
        Show Bands
      </a>
    </div>
  </div>

</div>

