<div class="add-band-component">

    <form class="bandForm" [formGroup]="bandForm" (ngSubmit)="onSubmit()">

        <div class="section">
            <div class="label">Name: </div>
            <mat-form-field class="val" appearance="outline">
                <input matInput data-test="band-name" placeholder="name" formControlName="name" >
                <mat-error *ngIf="bandForm.controls.name.errors">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="section ">
            <div class="label">Origin: </div>
            <mat-form-field class="val" appearance="outline">
                <input matInput data-test="band-origin" placeholder="origin" formControlName="origin" >
                <mat-error *ngIf="bandForm.controls.origin.errors">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="section ">
            <div class="label">Years active: </div>
            <mat-form-field class="val" appearance="outline">
                <input matInput data-test="band-active-years" placeholder="years" formControlName="activeYears" >
                <mat-error *ngIf="bandForm.controls.activeYears.errors">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="section ">
            <div class="label">Website: </div>
            <mat-form-field class="val" appearance="outline">
                <input matInput data-test="band-website" placeholder="website" formControlName="website" >
                <mat-error *ngIf="bandForm.controls.website.errors">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="section ">
            <mat-checkbox class="label black-checkbox" data-test="band-isDisbanding" formControlName="isDisbanding" >
                Disbanding Year
            </mat-checkbox>

            <mat-form-field class="val" appearance="outline" *ngIf="bandForm.controls.isDisbanding.value" >
                <input matInput data-test="band-disbandingYear" placeholder="Enter year" formControlName="disbandingYear" >
                <mat-error *ngIf="bandForm.controls.disbandingYear.errors">
                    Required Field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="footer">
            <button mat-raised-button data-test="band-submit"  color="primary" type="submit" [disabled]="bandForm.invalid" >
                Submit
            </button>
        </div>

    </form>

</div>
