@import "../../../vars";
$logo-height: 54px;
header {
  background-color: #fff;
  padding: 16px;
  border-bottom: 2px solid $next-light-blue;
  display: flex;
  justify-content: space-between;
  height: $header_height;
  img {
    height: $logo-height;
  }

  ul {
    margin-right: 36px;
    li {
      cursor: pointer;
      text-transform: uppercase;
      padding-left: 16px;
      display: inline-block;
      font-size: 12px;
      line-height: $logo-height;
    }
  }
}
