<h1>Create a new Band</h1>
<section class="band-form">
  <form [formGroup]="addBandForm">
    <label>
      Name: <input type="text" formControlName="name"  />
      <div class="field-error">{{showError('name')}}</div>
    </label>

    <label>
      Origin: <input type="text" formControlName="origin" />
      <div class="field-error">{{showError('origin')}}</div>
    </label>

    <label>
      Years active: <input type="text" formControlName="years-active" />
      <div class="field-error">{{showError('years-active')}}</div>
    </label>

    <label>
      Website: <input type="url" formControlName="website"/>
      <div class="field-error">{{showError('website')}}</div>
    </label>


    <label>
      <span><input type="checkbox" formControlName="disbanding" (change)="disbandingChange($event)" /> Disbanding year</span>
      <span *ngIf="addBandForm.controls.disbandingYear">
        <input type="text" formControlName="disbandingYear"/>
        <div class="field-error">{{showError('disbandingYear')}}</div>
      </span>
    </label>
    <input type="submit" value="Submit" (click)="submit()" />
  </form>
</section>
