@import "../../../../vars";

h1 {
  padding: 32px;
  text-align: center;
}
.band-form {
  width: 350px;
  margin: auto;
  background-color: #ffffff;
  border: 2px $next-light-blue solid;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  input {
    &[type="text"], &[type="url"] {
      height: 32px;
      border: #f1f1f1 1px solid;
      border-radius: 6px;
      margin-left: 16px;
      padding: 8px;
      width: 150px;
    }
    &[type="submit"]:focus {
      border: #cacaca 1px solid;
    }
    &[type="submit"] {
      height: 32px;
      border: #f1f1f1 1px solid;
      border-radius: 6px;
      min-width: 112px;
      margin-top: 32px;
      cursor: pointer;
    }
    &:focus{
      outline: none;
      background-color: #f1f1f1;
    }
  }
  label {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    line-height: 32px;
    font-size: 13px;
    .field-error {
      position: absolute;
      right: 0;
      bottom: -22px;
      font-size: 10px;
      color: red;
    }
  }
}
