// @import "src/assets/style/bits.scss";

.welcome-component{
    height: 70vh;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: bold;

    .img-container {
      margin-top: 20px;
    }

    .instruments{
        height: 90px;
    }

}
