<div class="ni-center">
  <div class="ni-title">Create a new Band</div>
  <form [formGroup]="addBandForm" class="ni-form" (ngSubmit)="onAdd()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" placeholder="name" required>
    </div>
    <div>
      <label for="origin">Origin:</label>
      <input id="origin" formControlName="origin" placeholder="Origin" required>
    </div>
    <div>
      <label for="yearsActive">Years active:</label>
      <input id="yearsActive" formControlName="yearsActive" placeholder="years active" required>
    </div>
    <div>
      <label for="website">Website:</label>
      <input id="website" formControlName="website" placeholder="Website" required>
    </div>
    <button id="submit_button" type="submit" [disabled]="addBandForm.invalid" >Submit</button>
  </form>
</div>
