input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: table-row;
}

h3 {
  text-align: center;
}

label {
  font-size: large;
  margin: 10px;
  display: table-cell;
}

input {
  display: table-cell;
  margin: 10px;
}
