<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem($event)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="origin">Origin</label>
          <input
            type="text"
            id="origin"
            class="form-control"
            name="origin"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="years-active">Years active</label>
          <input
            type="number"
            id="years-active"
            class="form-control"
            name="years-active"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
        <div class="col-sm-2 form-group">
          <label for="website">Website</label>
          <input
            type="text"
            id="website"
            class="form-control"
            name="website"
            ngModel
            required>
        </div>
      </div>
    </form>
  </div>
</div>
